<%= form_with(model: roster, local: true) do |form| %>
  <% if roster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roster.errors.count, "error") %> prohibited this roster from being saved:</h2>

      <ul>
      <% roster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :course %>
    <%= form.text_field :course %>
  </div>

  <div class="field">
    <%= form.label :period %>
    <%= form.text_field :period %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
